#navBar{
  position: relative;
  width: 98%;
  margin: 1%;
  background-color: aqua;
  height: 15vh;
}
.navBarMobile{
  font-size: 120%;
}
body{
  /* background: url('images/full.gif'); */
  background-color: black;
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
}
#contentWrapper{
  position: fixed;
  left: 0px;
  top:0px;
  width: 100%;
  overflow: auto;
}
body{
  overflow: hidden;
}
#subTest{
  width: 100%;
  height: 500rem;
}
.page{
  margin-top: 19vh;
  height: 81vh;
}
#scroller{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0px;
  left: 0px;
}
#filler{
  width: 100%;
}
.article{
  position: relative;
  width: 60%;
  margin-left: 20%;
  height: 30vh;
  overflow: hidden;
  margin-bottom: 2rem;
}
.articleMobile{
  width: 100% !important;
  font-size: 200%;
  margin-left: 0px;
}
.body > center > h1{
  margin: 1rem;
  padding: 1rem;
}
img{
  width: 60%;
}
.headline{
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
*{
  font-family: 'Comic Sans MS';
}
.body{
  margin-top: 30vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10rem;
  padding-bottom: 2rem;
}
a:hover{
  color: rgb(154, 188, 0);
}
.share{
  background-image: url('images/share.png');
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-size: 100%;
}
.link{
  position: fixed;
  left: -40rem;
}
#navBarWrapper{
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.option{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-left: 3rem;
  cursor: pointer;
}
#slider{
  z-index: 0;
  top: 0px;
  position: absolute;
  left: 0px;
  height: 15vh;
  background-color: grey;
  width: 5rem;
}
.option > h1{
  user-select: none;
  -moz-user-select: none;
}
#projectsWrapper{
  opacity: 0;
  position: fixed;
  left: 0px;
  top:0px;
  width: 100%;
  overflow: auto;
  display: none;
}
.project{
  width: 25%;
  margin-left: 8.33333%;
  overflow: hidden;
  height: 15vh;
  background-color: rgba(255, 255, 255, .51);
}
.title{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
::-moz-selection{
  background-color: grey;
  color: white;
}
::selection {
  background-color: grey;
  color: white;
}
.ripple {
  z-index: -1;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop .6s linear;
}
.rippleEffectBack{
  animation: rippleDropBack .6s linear;
}
@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rippleDropBack {
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.rippleTest{
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  opacity: .4;
  transform: scale(0);
  transition: all 1s;
}
.rippleOut{
  transition: all 1s;
  transform: scale(20);
}
#notification{
  z-index: 2;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: -5vh;
  background-color: aqua;
}
textarea{
  font-size: 50px;
}
